.NexWindowBar {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #474343;
}

.topBar-Buttons {
    -fx-background-radius: 0;
    -fx-background-color: #474343;
    -fx-alignment: CENTER;
}

.topBar-Buttons:hover {
    -fx-background-color: #776F6F;
}

.window-button {
    -fx-min-height: 28;
    -fx-min-width: 28;
    -fx-pref-height: 28;
    -fx-pref-width: 28;
    -fx-max-height: 28;
    -fx-max-width: 28;

    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;

    -fx-font-family: Arial;
    -fx-font-size: 10;
    -fx-text-fill: white;

    -fx-background-color: transparent;
}

.window-button:hover {
    -fx-background-color: #00000020;
}

.window-button .ripple-generator {
    -mfx-ripple-color: #5d007f20;
    -mfx-animate-background: true;
    -mfx-depth-level: level3;
}

#window-help {

}

#window-exit {
    -fx-alignment: CENTER;
    -fx-background-radius: 0;
    -fx-background-color: #474343;
}

#window-exit:hover {
    -fx-background-color: #ff3932;
}

#window-exit .ripple-generator {
    -mfx-ripple-color: #7f0000;
}

#window-progress {
    -fx-max-height: 2;
    -fx-max-width: 150;
}

#window-state {
    -fx-alignment: CENTER;

    -fx-pref-height: 18;
    -fx-pref-width: 132;
    -fx-max-height: 18;
    -fx-max-width: 150;

    -fx-text-alignment: CENTER;
    -fx-text-fill: WHITE;
}

